In [34]:
import numpy as np

In [26]:
import pandas as pd

In [27]:
data = pd.read_csv("AQI_Data.csv")

In [28]:
# Display the 5 rows
print("First 5 rows of the dataset:")

print(data.head(5))

First 5 rows of the dataset:
    City        Date  AQI  PM2.5  PM10        NO2        CO          O3  \
0  Delhi  2024-01-01  152    153   151  26.509131  1.581413  123.401530
1  Delhi  2024-01-02  264    288   268  87.955853  1.242119  144.533790
2  Delhi  2024-01-03  307    344   357  94.469744  0.101480  198.520196
3  Delhi  2024-01-04  363    334   347  12.075618  1.097072   85.973585
4  Delhi  2024-01-05  237    266   250  51.046299  1.591834   47.938019

         SO2
0  25.062474
1   5.926302
2  32.786668
3   7.099955
4  28.140550

In [29]:
print("Last 6 rows of the dataset:")
print(data.tail(6))

Last 6 rows of the dataset:
      City        Date  AQI  PM2.5  PM10        NO2        CO          O3  \
2556  Pune  2024-12-26   80     95    82  88.809636  0.497454  129.043801
2557  Pune  2024-12-27  419    448   462  26.701714  1.553582   86.973954
2558  Pune  2024-12-28  252    202   182  19.920962  1.599821   41.939484
2559  Pune  2024-12-29  365    414   410  80.815702  1.919950   39.982167
2560  Pune  2024-12-30  253    269   285  66.231614  0.611800   63.966705
2561  Pune  2024-12-31   95    140   117  99.505459  0.122817  112.774765

            SO2
2556   8.657624
2557  44.263423
2558  20.545087
2559  22.646297
2560  10.580135
2561  30.814997

In [30]:
print("Summary Statistics of all numeric columns:")
data.describe()

Summary Statistics of all numeric columns:

,AQI,PM2.5,PM10,NO2,CO,O3,SO2
count,2562.000000,2562.000000,2562.000000,2562.000000,2562.000000,2562.000000,2562.000000
mean,277.635051,276.738486,275.988290,54.151115,1.037476,104.832673,27.746349
std,128.603738,131.015126,131.900856,25.744072,0.560294,54.878784,12.927527
min,50.000000,2.000000,-26.000000,10.036926,0.100100,10.045129,5.000524
25%,166.250000,165.000000,166.000000,32.025372,0.545341,58.169877,16.685076
50%,276.000000,274.500000,274.000000,53.606459,1.010095,104.345545,27.872017
75%,388.750000,388.000000,386.000000,76.322683,1.533300,152.515574,38.878445
max,499.000000,543.000000,559.000000,99.974242,1.999528,199.979607,49.976055

In [ ]:
# Mean of AQI, PM2.5, PM10 for each city
cities = data['City'].values
aqi = data['AQI'].values
pm25 = data['PM2.5'].values
pm10 = data['PM10'].values

unique_cities = np.unique(cities)

for city in unique_cities:
    city_mask = cities == city
    mean_aqi = np.mean(aqi[city_mask])
    mean_pm25 = np.mean(pm25[city_mask])
    mean_pm10 = np.mean(pm10[city_mask])

    print(f"city: {city}, Mean AQI: {mean_aqi}, Mean PM2.5: {mean_pm25}, Mean PM10: {mean_pm10}")

city: Bangalore, Mean AQI: 279.54371584699453, Mean PM2.5: 278.46994535519127, Mean PM10: 277.75956284153006
city: Chennai, Mean AQI: 274.3142076502732, Mean PM2.5: 275.1393442622951, Mean PM10: 273.26502732240436
city: Delhi, Mean AQI: 279.1530054644809, Mean PM2.5: 279.89890710382514, Mean PM10: 279.3497267759563
city: Hyderabad, Mean AQI: 280.3551912568306, Mean PM2.5: 277.8251366120219, Mean PM10: 276.45628415300547
city: Kolkata, Mean AQI: 265.9016393442623, Mean PM2.5: 264.6639344262295, Mean PM10: 263.6448087431694
city: Mumbai, Mean AQI: 287.7978142076503, Mean PM2.5: 286.0464480874317, Mean PM10: 286.6693989071038
city: Pune, Mean AQI: 276.379781420765, Mean PM2.5: 275.1256830601093, Mean PM10: 274.77322404371586

In [32]:
# Check for missing data in the dataset
print("Missing data in each column:")
print(data.isnull().sum())

# Replace missing values in numeric columns with the column mean
numeric_columns = data.select_dtypes(include=['float64', 'int64']).columns
data[numeric_columns] = data[numeric_columns].apply(lambda col: col.fillna(col.mean()), axis=0)

# Print the updated DataFrame
print("\nUpdated DataFrame after replacing missing values:")
print(data.head())

Missing data in each column:
City     0
Date     0
AQI      0
PM2.5    0
PM10     0
NO2      0
CO       0
O3       0
SO2      0
dtype: int64

Updated DataFrame after replacing missing values:
    City        Date  AQI  PM2.5  PM10        NO2        CO          O3  \
0  Delhi  2024-01-01  152    153   151  26.509131  1.581413  123.401530
1  Delhi  2024-01-02  264    288   268  87.955853  1.242119  144.533790
2  Delhi  2024-01-03  307    344   357  94.469744  0.101480  198.520196
3  Delhi  2024-01-04  363    334   347  12.075618  1.097072   85.973585
4  Delhi  2024-01-05  237    266   250  51.046299  1.591834   47.938019

         SO2
0  25.062474
1   5.926302
2  32.786668
3   7.099955
4  28.140550

In [33]:
# Extract the AQI column as a NumPy array. Calculate and display the mean, median and standard deviation of the AQI values.import pandas as pd
# Extract the AQI column as a NumPy array
aqi_values = data['AQI'].to_numpy()

# Calculate statistical measures
mean_aqi = np.mean(aqi_values)
median_aqi = np.median(aqi_values)
std_dev_aqi = np.std(aqi_values)

# Display the results
print(f"Mean AQI: {mean_aqi}")
print(f"Median AQI: {median_aqi}")
print(f"Standard Deviation of AQI: {std_dev_aqi}")

Mean AQI: 277.6350507416081
Median AQI: 276.0
Standard Deviation of AQI: 128.57863723548584